/* stylesheet for intro.html, tutorial.html */

.done-btn {
    position: absolute;
    top: 77%;
    right: 55%;
    transform: translate(0, -50%);
    width: 40%;
    height: 20%;
    border-radius: 10px;
    background: #1da1f2;
    text-align: center;
}

.more-btn {
    position: absolute;
    top: 77%;
    left: 55%;
    transform: translate(0, -50%);
    width: 40%;
    height: 20%;
    border-radius: 10px;
    background: #1da1f2;
    text-align: center;
}

.cent {
    font-family: sans-serif;
    color: #000000;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 100%;
    height: 100%;
}

.tick {
    position: absolute;
    width: 15px;
    top: 5%;
    right: 2%;
}

.box {
    position: fixed;
    display: none;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    z-index: 2;
    padding: 5px;
}

.a {
    width: 15%;
    height: 9%;
    top: 45%;
    left: 30%;
}

.b {
    width: 15%;
    height: 9%;
    top: 17%;
    left: 30%;
}

.c {
    width: 17.5%;
    height: 9%;
    top: 92.4%;
    left: 20%;
}

.d {
    width: 10%;
    height: 10%;
    top: 12%;
    left: 65.5%;
}

.e {
    width: 10%;
    height: 10%;
    top: 12%;
    left: 94%;
}

.f {
    width: 30%;
    height: 12%;
    top: 44%;
    left: 80%;
}

.done {
    width: 22%;
    height: 20%;
    top: 50%;
    left: 50%;
}

.box .arrow {
    border-style: solid;
    position: absolute;
}

.top {
    width: 0;
    height: 0;
    border-color: transparent transparent rgba(0,0,0,0.8) transparent;
    border-width: 8px 8px 8px 8px;
    top: -8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left {
    width: 0;
    height: 0;
    border-color: transparent rgba(0,0,0,0.8) transparent transparent;
    border-width: 8px 8px 8px 8px;
    top: 50%;
    left: -8px;
    transform: translate(-50%, -50%);
}

.topl {
    width: 0;
    height: 0;
    border-color: transparent transparent rgba(0,0,0,0.8) transparent;
    border-width: 8px 8px 8px 8px;
    top: -8px;
    left: 6%;
}

.topr {
    width: 0;
    height: 0;
    border-color: transparent transparent rgba(0,0,0,0.8) transparent;
    border-width: 8px 8px 8px 8px;
    top: -8px;
    right: 6%;
}

.info {
    color: #c8c8c8;
    text-align: center;
    font-family: sans-serif;
}