/* stylesheet for me.html */

.cog {
    width: 15px;
    position: absolute;
    top: 1.5%;
    left: 2%;
}

.back {
    width: 18px;
    position: absolute;
    top: 1%;
    right: 2%;
}

.add-post {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    color: #1357ae;
    text-decoration: none;
}

.z {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 28%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.z-title {
    color: #cccccc;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: serif;
    font-weight: bold;
}

.z-info {
    color: #cccccc;
    position: absolute;
    left: 1%;
    top: 15px;
    transform: translate(0 -50%);
    font-family: sans-serif;
}

.z-btn {
    position: absolute;
    left: 14%;
    transform: translate(0, 50%);
    width: auto;
    height: auto;
    padding: 5px 5px 3px 5px;
    border: 1px solid;
    border-radius: 5px;
    color: #a2a2a2;
    text-decoration: none;
    text-align: center;
}

.new-text {
    position: absolute;
    top: 55px;
    left: 2%;
    width: 95%;
    height: 46%;
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
}

.new-descrip {
    position: absolute;
    top: 90px;
    left: 2%;
    width: 95%;
    height: 29%;
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
}

