/* stylesheet for home.html, me.html, detail.html, tutorial.html, intro.html */
/* Post box */

.post-box {
    position: absolute;
    left: 2.5%;
    width: 65%;
    height: 80%;
    border-top-left-radius: 5px;
}

.postname {
    position: relative;
    top: 0;
    left: 0;
    height: 7%;
    width: 100%;
}

#post-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43%);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 5vh;
}

#poster-name {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0, -43%);
    font-family: sans-serif;
    font-size: 2.5vh;
    text-decoration: none;
    color: #000000;
}

.poster-photo {
    position: absolute;
    top: 50%;
    left: 0.5%;
    height: 90%;
    border-radius: 50%;
    transform: translate(0, -50%);
}

/* Comments box */

.comment-box {
    position: absolute;
    left: 68%;
    width: 29.5%;
    height: 85%;
    border-top-right-radius: 5px;
}

.com-title {
    position: relative;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
    line-height: 150%; /* vertically centres text */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3vh;
    text-align: center;
}

.comment {
    position: relative;
    top: 3%;
    left: 5%;
    height: 7%;
    width: 91.4%;
    border-bottom: 2px solid #a2a2a2;
    border-left: 2px solid #a2a2a2;
    border-bottom-left-radius: 5px;
    line-height: 245%; /* vertically centres text */
    font-family: sans-serif;
    font-size: 2.5vh;
    text-align: left;
    padding-left: 3%;
}

.reply {
    position: relative;
    top: 3%;
    left: 10%;
    height: 6%;
    width: 86.7%;
    border-bottom: 1px solid #a2a2a2;
    border-left: 1px solid #a2a2a2;
    border-right: 1px solid #a2a2a2;
    border-radius: 5px;
    line-height: 245%; /* vertically centres text */
    font-family: sans-serif;
    font-size: 2vh;
    text-align: left;
    padding-left: 3%;
}

#add-reply {
    display: none;
    position: relative;
    top: 3%;
    left: 10%;
    height: 6%;
    width: 86.7%;
    border-bottom: 1px solid #a2a2a2;
    border-left: 1px solid #a2a2a2;
    border-right: 1px solid #a2a2a2;
    border-radius: 5px;
    line-height: 245%; /* vertically centres text */
    font-family: sans-serif;
    font-size: 2vh;
    text-align: left;
    padding-left: 3%;
}

.new-com {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7%;
    width: 100%;
}

.type-comment {
    position: relative;
    top: 50%;
    left: 3%;
    width: 70%;
    height: 70%;
    transform: translate(0, -52%);
    background: transparent;
    border: none;
}

.post-comment {
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translate(0, -40%);
    font-family: sans-serif;
    font-size: 2vh;
    color: #1da1f2;
    text-decoration: none;
}

.post-comment:hover {
    font-size: 2.5vh;
    color: #1357ae;
    text-decoration: underline;
}

.post-reply {
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translate(0, -40%);
    font-family: sans-serif;
    font-size: 2vh;
    color: #1da1f2;
    text-decoration: none;
}

.img {
    position: absolute;
    top: 50%;
    right: 2%;
    height: 70%;
    border-radius: 50%;
    transform: translate(0, -50%);
}

.arrow {
    display: block;
    position: absolute;
    top: 50%;
    right: 17%;
    width: 5%;
    transform: translate(0, -50%);
}

/* Post Info */

.info-box {
    position: absolute;
    left: 2.5%;
    top: 84%;
    width: 65%;
    height: 11%;
    border-bottom-left-radius: 5px;
}

/* DM section */

.dm-box-cl {
    position: absolute;
    left: 68%;
    bottom: 0;
    width: 29.5%;
    height: 11%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.dm-box-main {
    position: absolute;
    display: none;
    left: 68%;
    bottom: 0;
    width: 29.5%;
    height: 96.75%;
    background-color: #f5f5f5;
    border: 1px solid #a2a2a2;
    border-top-right-radius: 5px;
}

.direct-txt {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3vh;
}

.notification {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ff0000;
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
}

.chat-request {
    position: relative;
    top: 48px;
    padding: 3px;
    left: 0;
    width: available;
    border-bottom: 1px solid #a2a2a2;
    font-family: sans-serif;
    font-size: 2vh;
}

.requests-chevron {
    position: absolute;
    right: 5px;
    top: 53px;
    height: 9px;
}

.unread {
    width: available;
    padding: 5px;
    border-bottom: 1px solid #a2a2a2;
    background-color: #f5f5f5;
}

.read {
    width: available;
    padding: 5px;
    border-bottom: 1px solid #a2a2a2;
}

.messager-photo {
    position: relative;
    top: 50%;
    left: 1%;
    height: 40px;
    border-radius: 50%;
    float: left;
}

.test {
    position: relative;
    top: 0;
    left: 13%;
    width: 85%;
    border: 1px solid black;
}

.messager-name {
    position: relative;
    top: 30%;
    left: 0;
    font-family: sans-serif;
    font-style: normal;
    font-size: 2.2vh;
    color: #4b4b4b;
    transform: translate(0, -50%);
}

.message-preview {
    position: absolute;
    top: 60%;
    left: 3%;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.5vh;
    color: #a2a2a2;
    transform: translate(0, -50%);

}

/* 'Me' link */

#me {
    position: absolute;
    top: 1%;
    right: 50%;
    transform: translate(50%, 0);
    width: 80%;
    height: 9%;
    border: 1px solid black;
    border-radius: 5px;
}

#me:hover {
    background-color: #c1c1c1;
}

.me-pho {
    position: absolute;
    top: 5%;
    right: 50%;
    transform: translate(50%, 0);
    width: 90%;
    border-radius: 50%;
}

.me-txt {
    position: absolute;
    top: 60%;
    right: 50%;
    transform: translate(57%, -50%);
    font-family: sans-serif;
    width: 70%;
    color: #000000;
}