.title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #a2a2a2;
    position: absolute;
    top: -2%;
    left: 5%;
    transform: translate(0, -50%);
}

.subtitle {
    font-family: sans-serif;
    font-size: 25px;
    color: #1357ae;
    position: absolute;
    top: 4%;
    left: 5%;
    transform: translate(0, -50%);
}

.box {
    width: 47.2%;
    height: 85%;
    position: absolute;
    top: 12%;
}

.lw {
    left: 2.5%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.lc {
    right: 2.5%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.list-elem {
    position: absolute;
    left: 2%;
    font-family: sans-serif;
    font-size: 20px;
}

.info-elem {
    position: absolute;
    left: 2%;
    font-family: sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #5d5d5d;
}

.photo-elem {
    width: 5%;
    border-radius: 50%;
    left: 2%;
    position: absolute;
    transform: translate(0, -50%);
}

.set-elem {
    position: absolute;
    left: 4%;
    font-family: sans-serif;
    font-size: 15px;
    transform: translate(0, -50%);
}

.edit-elem {
    font-family: sans-serif;
    color: #000000;
    position: absolute;
    left: 4%;
    height: 3.4%;
    transform: translate(0, -50%);
    border-radius: 5px;
}

.submit {
    height: 3.4%;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    border-radius: 5px;
    position: absolute;
    left: 4%;
    transform: translate(0, -50%);
    background: #1368e2;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.profile-pho {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.back {
    width: 30px;
    position: absolute;
    top: 1%;
    right: 1%;
}

.popup {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    z-index: 2;
    padding: 5px;
    width: 22%;
    height: 15%;
    border-style: solid;
}

.info {
    color: #c8c8c8;
    text-align: center;
    font-family: sans-serif;
}

.cent {
    font-family: sans-serif;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 100%;
    height: 100%;
}

.ok-btn {
    position: absolute;
    top: 77%;
    right: 55%;
    transform: translate(0, -50%);
    width: 40%;
    height: 25%;
    border-radius: 10px;
    background: #1368e2;
    text-align: center;
}

.no-btn {
    position: absolute;
    top: 77%;
    left: 55%;
    transform: translate(0, -50%);
    width: 40%;
    height: 25%;
    border-radius: 10px;
    background: #1368e2;
    text-align: center;
}

.new-bio {
    position: absolute;
    font-family: sans-serif;
    font-size: 15px;
    transform: translate(0, -50%);
    top: 30%;
    width: 95%;
    height: 50%;
}

/* dropdown menu */

.dropdown {
    position: absolute;
    top: 65%;
    left: 4%;
    width: 10%;
    height: 5%;
}

.dd-menu {
    display: none;
    position: absolute;
    top: 20px;
    width: 100%;
    height: auto;
}

.dd-elem {
    position: relative;
    left: 50%;
    height: 20px;
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
    transform: translate(-50%, 0);
    background: #1368e2;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.dd-elem:hover {
    background: #1369ff;
    border: 1px solid #1369ff;
}