.done-btn {
    position: absolute;
    top: 77%;
    right: 55%;
    transform: translate(0, -50%);
    width: 40%;
    height: 20%;
    border-radius: 10px;
    background: #1da1f2;
    text-align: center;
}

.more-btn {
    position: absolute;
    top: 77%;
    left: 55%;
    transform: translate(0, -50%);
    width: 40%;
    height: 20%;
    border-radius: 10px;
    background: #1da1f2;
    text-align: center;
}

.cent {
    font-family: sans-serif;
    color: #000000;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 100%;
    height: 100%;
}

.tick {
    position: absolute;
    width: 15px;
    top: 3%;
    right: 3%;
}

.box {
    position: fixed;
    display: none;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    z-index: 2;
    padding: 5px;
}

.a {
    width: 20%;
    height: 24%;
    top: 43%;
    left: 33%;
}

.b {
    width: 20%;
    height: 14%;
    top: 17%;
    left: 33%;
}

.c {
    width: 20%;
    height: 20%;
    top: 80%;
    left: 33%;
}

.x {
    width: 20%;
    height: 20%;
    top: 50%;
    left: 80.5%;
}

.y {
    width: 22%;
    height: 20%;
    top: 50%;
    left: 84%;
}

.done {
    width: 22%;
    height: 20%;
    top: 50%;
    left: 50%;
}

.box .arrow {
    border-style: solid;
    position: absolute;
}

.bottom {
    width: 0;
    height: 0;
    border-color: rgba(0,0,0,0.8) transparent transparent transparent;
    border-width: 8px 8px 8px 8px;
    bottom: -8px;
    right: 50%;
    transform: translate(50%, -50%);
}

.top {
    width: 0;
    height: 0;
    border-color: transparent transparent rgba(0,0,0,0.8) transparent;
    border-width: 8px 8px 8px 8px;
    top: -8px;
    right: 50%;
    transform: translate(50%, -50%);
}

.left {
    width: 0;
    height: 0;
    border-color: transparent rgba(0,0,0,0.8) transparent transparent;
    border-width: 8px 8px 8px 8px;
    top: 50%;
    left: -8px;
    transform: translate(-50%, -50%);
}

.right {
    width: 0;
    height: 0;
    border-color: transparent transparent transparent rgba(0,0,0,0.8);
    border-width: 8px 8px 8px 8px;
    top: 50%;
    right: -8px;
    transform: translate(50%, -50%);
}

.info {
    color: #c8c8c8;
    text-align: center;
    font-family: sans-serif;
}