/* things that are the same across the project, e.g. colours, go here */

.sidebar-bg {
    background-color: #a2a2a2;
}

.main-bg {
    background-color: #fafaff;
}

.box-bg {
    background-color: rgb(255, 255, 255);
    border: 1px solid #a2a2a2;
}

.chevron {
    position: absolute;
    top: 50%;
    height: 20px;
    left: 4px;
    transform: translate(0, -50%);
}

.title-colour {
    color: #4b4b4b;
}

