<div class="post-box box-bg"> <!-- Box around post -->
    <div class="postname">
        <div id="post-name" class="title-colour">Post Name</div> <!-- Name of post -->
        <a href="detail.html" id="poster-name">Poster's Name</a> <!-- Name of user who posted -->
        <img src="../photos/profile_pics/default1.jpg" alt="poster's profile" class="poster-photo"> <!-- Profile photo of user who posted -->
    </div>
</div>

<div class="comment-box box-bg"> <!-- Box around comments -->
    <div class="com-title title-colour">Comments</div>
    <div class="comment">Comment <!-- Comment -->
        <img src="../photos/utility/d_chevron.png" alt="commenter's profile" class="arrow" id="d"> <!-- dropdown to open replies -->
        <img src="../photos/utility/u_chevron.png" alt="commenter's profile" class="arrow" style="display: none;" id="u"> <!-- dropdown to close replies -->
        <a class="post-reply" style="right: 25%; top: 40%;">Reply</a> <!-- 'Reply" button -->
        <img src="../photos/profile_pics/default1.jpg" alt="commenter's profile" class="img"> <!-- Commenter's profile photo -->
    </div>

    <div id="replies" style="display: none; position: relative; top: 3%;">
        <div class="reply">Reply 1 <!-- Nested reply -->
            <img src="../photos/profile_pics/default1.jpg" alt="commenter's profile" class="img"> <!-- Commenter's profile photo -->
        </div>

        <div class="reply">Reply 2 <!-- Nested reply -->
            <img src="../photos/profile_pics/default1.jpg" alt="commenter's profile" class="img"> <!-- Commenter's profile photo -->
        </div>
    </div>

    <div id="add-reply"> <!-- reply to a comment -->
        <input class="type-comment" style="top: 40%; left: 0%;" type="text" name="" placeholder="Reply Here"> <!-- reply input -->
        <a href="#" class="post-comment">Post</a>
        <img src="../photos/profile_pics/default1.jpg" alt="my profile" class="img"> <!-- My profile photo -->
    </div>

    <br> <!-- break for spacing between comments !IMPORTANT! -->

    <div class="new-com">
        <input class="type-comment" type="text" name="" placeholder="New Comment Here">
        <a href="#" class="post-comment">Post</a>
        <img src="../photos/profile_pics/default1.jpg" alt="my profile" class="img"> <!-- My profile photo -->
    </div>
</div>

<div class="info-box box-bg"> <!-- Box around info -->

</div>

<div class="dm-box-cl sidebar-bg"> <!-- DM popup closed -->
    <img src="../photos/utility/u_chevron.png" alt="chevron" style="position: absolute; height: 10px; left: 50%; top: 5px; transform: translate(-50%, 0)"> <!-- Chevron -->
    <p class="direct-txt title-colour">Direct</p>
    <div class="notification">2</div><!-- Red notification bubble -->
</div>

<div class="dm-box-main"> <!-- DM popup open -->
    <div class="dm-box-cl sidebar-bg" style="top: 0; left: 0; height: 48px; width: 100%; border-top-left-radius: 0">
        <img src="../photos/utility/d_chevron.png" alt="chevron" style="position: absolute; height: 10px; left: 50%; top: 5px; transform: translate(-50%, 0)"> <!-- Chevron -->
        <p class="direct-txt title-colour" style="top: 15%;">Direct</p>
    </div>
    <div class="chat-request">You have 3 chat requests</div>
    <img src="../photos/utility/r_chevron.png" class="requests-chevron" alt="chevron">

    <div style="height: 48px;"></div>

    <div class="unread">
        <img src="../photos/profile_pics/default1.jpg" alt="messager's profile" class="messager-photo">
        <div class="test">
            <p class="messager-name title-colour">User Name</p>
            <p class="message-preview">Message Preview</p>

        </div>
    </div>

    <div class="read">
        <img src="../photos/profile_pics/default1.jpg" alt="messager's profile" class="messager-photo">
        <p class="messager-name title-colour">User Name</p>
    </div>

</div>

<script src="../js/jquery_PC.js"></script>
<script>
        $ (document).ready(function () {
            $("#d").click(function(){
                $("#replies").show();
                $("#u").show();
                $("#d").hide();
            });

            $("#u").click(function(){
                $("#replies").hide();
                $("#add-reply").hide();
                $("#d").show();
                $("#u").hide();
            });

            $(".post-reply").click(function(){
                if($('#add-reply').is(':visible')) {
                    $("#add-reply").hide();
                }
                else {
                    $("#add-reply").show();
                }
            });

            $(".dm-box-cl").click(function(){
                if($('.dm-box-main').is(':visible')) {
                    $('.dm-box-main').slideUp(500);
                    $('.notification').show();
                }
                else {
                    $(".dm-box-main").slideDown(500);
                    $('.notification').hide();
                }
            });
        })
</script>
