<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/universals.css">
    <link rel="stylesheet" href="../static/detail.css">
    <link rel="stylesheet" href="../static/me.css">
    <link rel="stylesheet" href="../static/post.css">
    <title>My Profile</title>

</head>
<body>
     <div class="splitl main-bg">
     <!-- Left hand side of screen: post itself -->
         <div id="reuse"></div>
    </div>

    <div class="splitr sidebar-bg">
        <div style="visibility: hidden;" id="rhs">
        <!-- Right hand side of screen: user info -->
            <a href="home.html"><img src="../photos/utility/back.png" class="back" alt="Back"></a>
            <a href="settings.html"><img src="../photos/utility/cog.png" class="cog" alt="Cog"></a>
            <div>
                <!-- Number of followers and following -->
                <div class="followers" style="left: 25%;" id="flo">Followers 1234</div>
                <div class="followers" style="left: 75%;" id="fli">Following 1234</div>
            </div>

            <a class="add-post">Add Post</a>

            <!-- Followed by dropdown -->
            <div class="box x">
                <div class="arrow top"></div>
                <p>Followed by:</p>
                <hr>
                <p>User Name</p>
                <hr>
                <p>User Name</p>
                <hr>
                <p>User Name</p>
            </div>

            <!-- Following dropdown -->
            <div class="box y">
                <div class="arrow top"></div>
                <p>Following:</p>
                <hr>
                <p>User Name</p>
                <hr>
                <p>User Name</p>
                <hr>
                <p>User Name</p>
            </div>

            <!-- make post popup -->
            <div class="box z">
                <h2 class="z-title">New Post</h2>
                <p class="z-info">Post Type:</p>
                <a class="z-btn" id="text" style="top: 11px;">Text</a>
                <a class="z-btn" id="picture" style="display: none; top: 11px;">Picture</a>
                <textarea class="new-text" placeholder="Type Here"></textarea>
                <div id="pict" style="display: none">
                    <textarea class="new-descrip" placeholder="Type Description Here"></textarea>
                    <p class="z-info" style="top: 50px;">Choose Picture:</p>
                    <a class="z-btn" style="top: 60px; left: 25%; transform: translate(-50%, 0); width: auto;">Choose</a>
                </div>
                <a class="z-btn" id="post" style="bottom: 2%; left: 40%; transform: translate(-50%, 0);">Post</a>
                <a class="z-btn" id="cancel" style="bottom: 2%; left: 60%; transform: translate(-50%, 0);">Cancel</a>
            </div>

            <div class="centered">
                <!-- Info about user -->
                <img src="../photos/profile_pics/default1.jpg" class="profile-pho" alt="Profile Photo">
                <h2>My Name</h2>
                <p>My Bio</p>
                <p>My Posts</p>
            </div>
        </div>
    </div>

    <script src="../js/jquery_PC.js"></script>
    <script>
        $ (document).ready(function () {
            $ ('#reuse').load('../templates/main-template.html');

            setTimeout(function(){
            document.getElementById('rhs').style.visibility = "visible";
            },1000);

            $("#flo").click(function(){
                if($('.x').is(':visible')){
                    $(".x").hide();
                }
                else {
                    $(".x").show();
                }
                if($('.y').is(':visible')){
                    $(".y").hide();
                }
            });

            $("#fli").click(function(){
                if($('.y').is(':visible')){
                    $(".y").hide();
                }
                else {
                    $(".y").show();
                }
                if($('.x').is(':visible')){
                    $(".x").hide();
                }
            });

            $(".add-post").click(function(){
                $('.z').show();
            });

            $("#cancel").click(function(){
                $('.z').hide();
            });

            $("#text").click(function(){
                $(this).hide();
                $('.new-text').hide();
                $('#pict').show();
                $('#picture').show();
            });

            $("#picture").click(function(){
                $(this).hide();
                $('#text').show();
                $('.new-text').show();
                $('#pict').hide()
            });
        })
    </script>
</body>
</html>