<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <link rel="stylesheet" type="text/css" href="../static/universals.css">
    <link rel="stylesheet" href="../static/post.css">
    <link rel="stylesheet" href="../static/tutorial.css">
    <title>Home</title>

</head>
<body>
    <div class="splitl main-bg">
    <!-- Main area of screen  -->
        <div id="reuse"></div>
    </div>

    <div class="splitr sidebar-bg">
    <!-- Sidebar -->
        <img src="../photos/utility/l_chevron.png" class="chevron" alt="">
        <!-- Open/close sidebar chevron -->
    </div>

    <div class="box done" id="begin" style="display: block;">
        <p class="info">In this tutorial, we'll show you a bit more about our unique design. If you clicked this by mistake, you can cancel it below.</p>
        <div class="done-btn" id="start">
            <a class="cent">OK, show me!</a>
        </div>
        <div class="more-btn">
            <a class="cent" href="settings.html">Cancel Tutorial</a>
        </div>
    </div>

    <div class="box a" id="1">
        <img src="../photos/utility/tick.png" class="tick" alt="next">
        <p class="info">Your friends' posts will be displayed here. This is the equivalent of your 'feed' on other platforms. Content created by accounts you follow will be displayed here, and you can scroll up and down to see more. Scrolling up to the top will automatically refresh your feed.</p>
    </div>

    <div class="box b" id="2">
        <div class="arrow top"></div>
        <img src="../photos/utility/tick.png" class="tick" alt="next">
        <p class="info">Basic information about the post will be shown here, but this space is only for the post title and the name of the user who posted it.</p>
    </div>

    <div class="box c" id="3">
        <div class="arrow bottom"></div>
        <img src="../photos/utility/tick.png" class="tick" alt="next">
        <p class="info">You'll find much more useful information about the post above here - things like how many views, likes and dislikes it has. If you want to like or dislike the post, you can also do that here too.</p>
    </div>

    <script src="../js/jquery_PC.js"></script>
    <script>
        $ (document).ready(function () {
            $ ('#reuse').load('../templates/main-template.html');

            var current = 1;

            $("#start").click(function(){
                $("#begin").hide();
                $("#" + current).show();
            });

            $(".tick").click(function(){
                $("#" + current).hide();
                current += 1;
                $("#" + current).show();
            });
        })
    </script>
</body>
</html>